<div class="row">

    <folders-list></folders-list>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" 
         ng-switch on="layoutCtrl.getState()">

        <messages-loading ng-switch-default></messages-loading>

        <messages-list ng-switch-when="list"
                       folder="layoutCtrl.getCurrentFolder()"
                       messages="layoutCtrl.getMessages()"></messages-list>

        <messages-detail ng-switch-when="message"
                         message="layoutCtrl.getCurrentMessage()"></messages-detail>

        <messages-form ng-switch-when="form"></messages-form>

    </div>

    <script type="text/ng-template" id="templates/folders-list.html">

        <div class="col-sm-3 col-md-2 sidebar">

            <p>
                <button type="button"
                        class="btn btn-success"
                        ng-click="layoutCtrl.createNewEmail()">Написать письмо</button>
            </p>

            <ul class="nav nav-sidebar">

                <li class="nav-sidebar-item"
                    ng-repeat="folder in layoutCtrl.getFolders()"
                    ng-class="{'active': folder == layoutCtrl.getCurrentFolder()}"
                    ng-click="layoutCtrl.setCurrentFolder(folder)">

                    <a href="#" ng-cloak>
                        {{::folder.title}}
                        <span class="badge"
                              ng-bind="layoutCtrl.getMessagesCount(folder.type)"></span>
                    </a>

                </li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="templates/messages-loading.html">
        <div class="preloader">
            <div class="uil-ripple-css" style="transform:scale(1);">
                <div></div>
                <div></div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="templates/messages-list.html">

        <h1 class="page-header" ng-bind="folder.title"></h1>

        <div class="table-responsive">

            <table class="table table-striped table-hover">

                <colgroup>
                    <col width="50" />
                    <col width="150" />
                    <col width="200" />
                    <col width="auto" />
                    <col width="230" />
                </colgroup>

                <thead>
                    <tr>
                        <th></th>
                        <th>Пользователь</th>
                        <th>Почта</th>
                        <th>Тема</th>
                        <th>Действия</th>
                    </tr>
                </thead>

                <tbody>

                    <tr ng-repeat="message in messages | filter: {type: folder.type}"
                        ng-click="layoutCtrl.browseMessage(message)">

                        <td>
                            <img ng-src="{{message.picture}}" class="img-circle img-responsive" />
                        </td>

                        <td ng-bind-template="{{message.name.first}} {{message.name.last}}"></td>

                        <td ng-bind="message.email"></td>

                        <td ng-bind="message.theme"></td>

                        <td ng-switch on="folder.type">

                            <div class="btn-group btn-group-xs"
                                 role="group"
                                 ng-switch-when="trash">

                                <button type="button"
                                        class="btn btn-success"
                                        ng-click="updateMessage(message, 'type', 'inbox')">
                                    <span class="glyphicon glyphicon-save-file"></span>
                                    Во входящие</button>

                                <button type="button"
                                        class="btn btn-info"
                                        ng-click="updateMessage(message, 'type', 'outbox')">
                                    <span class="glyphicon glyphicon-open-file"></span>
                                    В исходящие
                                </button>

                            </div>

                            <div class="btn-group btn-group-xs"
                                 role="group"
                                 ng-switch-default>

                                <button type="button"
                                        class="btn btn-warning">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    Переслать
                                </button>

                                <button type="button"
                                        class="btn btn-danger"
                                        ng-click="updateMessage(message, 'type', 'trash')">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    Удалить
                                </button>
                            </div>

                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

    </script>

    <script type="text/ng-template" id="templates/messages-detail.html">
        Мессадж
    </script>

</div>